doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Social Technologies Lab - Cornell Tech

    meta(name='description' content='Social Technologies Lab Website')
    meta(name='keywords' content='social technologies cornell tech')
    
    meta(property="og:url" content="https://s.tech.cornell.edu")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Social Technologies Lab - Cornell Tech")
    meta(property="og:title" content="Social Technologies Lab - Cornell Tech")
    meta(property="og:description" content="We design, build, and study systems that support social interactions in online and physical spaces.")
    meta(property="og:image" content="https://s.tech.cornell.edu/assets/img/top.jpg")
    meta(property="og:locale" content="en_US")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@STechCornell")
    meta(name="twitter:creator" content="@STechCornell")
    meta(name="twitter:title" content="Social Technologies Lab - Cornell Tech")
    meta(name="twitter:description" content="We design, build, and study systems that support ocial interactions in online and physical spaces.")
    meta(name="twitter:image" content="https://s.tech.cornell.edu/assets/img/top.jpg")

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:700,400,300,400i')

    link(rel='apple-touch-icon shortcut icon image_src' href='./assets/favicon.ico')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='./main.js')
    script(src='https://maps.googleapis.com/maps/api/js')

    link(rel='stylesheet' href='./assets/venobox/venobox.css')
    script(src='./assets/venobox/venobox.min.js')

  body
    .fullscreen-bg
      video.fullscreen-bg-video(
        loop='', muted='', autoplay='', preload='', 
        poster='./assets/bg_video_fallback.jpg', 
        src='./assets/bg_video.webm')

    .slide#intro
      .header
        p.title Social Technologies Lab
        p.desc We design, build, and study systems that support social interactions in online and physical spaces
      .header-stick
        p.title Social Technologies Lab
        .menu
          span.fa.fa-bars
        ul.menu-dropdown
          li: a(href='#about'): p Who We Are
          li: a(href='#publications'): p Publications
          li: a(href='#contact'): p Contact
        

    .slide#about
      .card
        .subsection#subsection-about-us
          h2.subsection-title About Us
          .subsection-content
            figure
              img(src="./assets/img/top.jpg", alt="")
              figcaption We design, build, and study systems that support social interactions in online and physical spaces.

            p We utilize a variety of methods from mining data on social media to conducting controlled experiments to interviewing users. Our work aims to understand the significance of people’s digital traces and to leverage this information for positive social good.

            p
              | We are the 
              a(href='http://tech.cornell.edu/jacobs-technion-cornell-institute/overview', target='_blank') Jacobs Institute
              | ’s Connective Media hub at 
              a(href='http://tech.cornell.edu/', target='_blank') Cornell Tech
              | . Part of our research is conducted within the 
              a(href='https://cx.jacobs.cornell.edu/', target='_blank') Connected Experiences Lab
              | . If you are interested in working with us, please get in touch by contacting us below!

          .subsection#subsection-news
            h2.subsection-title News
            .subsection-content
              ul#news-list: each n in news
                li.news
                  .project-info
                    p
                      span.fa.fa-newspaper-o
                      span= n.date
                      span.news-title!= n.title

        .subsection#subsection-people
          h2.subsection-title People
          .subsection-content
            ul#people-list: each p in people
              li.person
                img(src='#{p.image}')
                .person-info
                  a(href=p.link, target='_blank')
                    h3.person-name= p.name
                  p.person-title= p.title
                .person-contact
                  a.person-email(href='mailto:#{p.email}')= p.email
                  if p.twitter
                    a.person-twitter(href='https://twitter.com/#{p.twitter}') @#{p.twitter}
        
        #project-news-box    
          .subsection#subsection-projects
            h2.subsection-title Projects
            .subsection-content
              ul#project-list: each p in projects
                li.project
                  .project-img-box(style='background-image: url(#{p.image})')
                  .project-info
                    h3.project-title= p.title
                    p.project-description!= p.desc
                    //- a.project-link(href=p.link)
                    //-   span.fa.fa-file
                    //-   span PDF

    .slide#publications
      .card
        h2.subsection-title Publications
        ul: each p, idx in publications
          #mobile
            li
              .image(style='background-image: url(#{p.image})')
              p= p.mobileInfo
              a(href=p.link, target='_blank')
                span.fa.fa-file
                span PDF
          #desktop
            li
              .column#image
                if !p.video
                  img(src=p.image)
                else
                  a(class='venobox_custom', data-type='inline', href='#'+'pub-video-'+idx)
                    .pub-video-overlay
                      span.fa.fa-play-circle
                  img(src=p.image)
                  div.pub-video(id='pub-video-'+idx)
                    video(width='800', height='600', controls='')
                      source(src=p.video, type='video/mp4')
                      | Your browser does not support the video tag.
              .column.pub-info
                p#title= p.title
                p#author= p.author
                p#conference= p.conference
                p#type= p.type
                .links
                  each l in p.links
                    a(href=l[1], target='_blank')
                      span.fa.fa-file
                      span= l[0]
              .column#abstract
                p= p.abstract 
        .pub-overlay
          span.fa.fa-chevron-down

    .slide#contact
      .card
        h2.subsection-title Contact

        .contact-block#contact-block-left

          #contact-mailing-list
            #mc_embed_signup
              form(action="//nyc.us12.list-manage.com/subscribe/post?u=29fc6ecc44ebe11b0169accfe&amp;id=f1cff316c0" method="post" iid="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                #mc_embed_signup_scroll
                label(for="mce-EMAIL")
                  span.fa.fa-envelope-o
                  span Join Our Mailing List
                input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required)
                div(style="position: absolute; left: -5000px;" aria-hidden="true")
                  input(type="text" name="b_29fc6ecc44ebe11b0169accfe_f1cff316c0" tabindex="-1" value="")
                .clear
                  input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")

          #contact-twitter
            a(href="https://www.twitter.com/STechCornell")
                span.fa.fa-twitter
                span Follow Us On Twitter

          //- form
          //-   input(type="text")
          //-   input(type="submit")

        .contact-block#contact-block-middle
          #contact-location
            #map
          p We're located at Cornell Tech. Come by and say hi!
          address 111 8th Ave<br>Suite #1202<br>New York, NY

        .contact-block#contact-block-right
          a(href="https://tech.cornell.edu")
            figure
              img(src="./assets/img/tech_logo.png", alt="Cornell Tech")
          

          

