doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Social Technologies Lab - Cornell Tech

    meta(name='description' content='Social Technologies Lab Website')
    meta(name='keywords' content='social technologies cornell tech')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')

    //- link(rel='shortcut icon' href='/assets/favicon.png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/main.js')

  body
    .fullscreen-bg
      video.fullscreen-bg-video(
        loop='', muted='', autoplay='', preload='', 
        poster='./assets/bg_video_fallback.jpg', 
        src='./assets/bg_video.webm',
        type='video/mp4')

    .slide
      .header
        p.title Social Technologies Lab
        p.desc We design, build, and study systems centered around understanding how people interact with one another in virtual and physical spaces

    .slide
      .card
        p about
        ul: each p in people
          li
            p= p.name
            img(src='#{p.image}')
            a(href=p.link)
              p= p.title 
            p= p.contact

    .slide
      .card
        p publications
        ul: each p in publications
          li
            img(src='#{p.image}')
            a(href=p.link): p= p.title
