doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Social Technologies Lab - Cornell Tech

    meta(name='description' content='Social Technologies Lab Website')
    meta(name='keywords' content='social technologies cornell tech')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')

    //- link(rel='shortcut icon' href='/assets/favicon.png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='./main.js')

  body
    .fullscreen-bg
      video.fullscreen-bg-video(
        loop='', muted='', autoplay='', preload='', 
        poster='./assets/bg_video_fallback.jpg', 
        src='./assets/bg_video.webm')

    .slide
      .header
        p.title Social Technologies Lab
        p.desc We design, build, and study systems centered around understanding how people interact with one another in virtual and physical spaces

    .slide
      .card
        .subsection
          h2.subsection-title About Us
          .subsection-content
            figure
              img(src="http://placehold.it/350x100", alt="")
              figcaption We design, build, and study systems centered around understanding how people interact with one another in virtual and physical spaces.

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem officia odio perspiciatis dolorum temporibus ducimus, nostrum quisquam quos soluta quo adipisci pariatur molestias accusantium tempora asperiores obcaecati consequuntur eiu

        .subsection
          h2.subsection-title People
          .subsection-content
            ul#people-list: each p in people
              li.person
                img(src='#{p.image}')
                .person-info
                  a(href=p.link)
                    h3.person-name= p.name
                  p.person-title= p.title
                .person-contact
                  p.person-email= p.email
                  p.person-twitter= p.twitter
              
        .subsection
          h2.subsection-title People
          .subsection-content
            ul#project-list: each p in projects
              li.project
                img(src='#{p.image}')
                h3.project-title= p.title
                p.project-description= p.desc
                a.project-link= p.link

        .subsection
          h2.subsection-title News

    .slide
      .card
        p publications
        ul: each p in publications
          li
            img(src='#{p.image}')
            a(href=p.link)
              p= p.title
